* {
  font-family: 'Lato', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
  font-weight: 300;
}

.main-header {
  display: flex;
  height: 200px;
  border-bottom: 1px solid rgb(237, 201, 119);
  background-image: url('/src/images/overlook-banner4.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.header-content {
  display: flex;
  width: 50%;
  justify-content: space-around;
  background-color: none;
}

#logo {
  height: 200px;
  margin: 0;
  padding: 0
}

main {
  display: flex;
}

.my-bookings {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  min-height: 100vh;
  border-right: 1px solid rgb(237, 201, 119);
  padding: 0
}

.search-section {
  display: flex;
  flex-direction: column;
  width: 50%;
  min-height: 100vh;
}

.my-bookings-header {
  display: flex;
  width: 100%;
  height: 50px;
  align-items: center;
}

.div1 {
  display: flex;
  justify-content: flex-end;
  width: 60%
}

.div2 {
  display: flex;
  justify-content: flex-end;
  width: 40%
}

.bookings-section {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  width: 100%;
  min-height: 400px;
  max-height: 700px;
}

.booking-tile {
  display: flex;
  height: 150px;
  width: 80%;
  margin: 10px 20px;
  border:rgb(237, 201, 119) 1px solid;
  border-radius: 15px;
  align-items: center;
  justify-content: space-between;
}

.booking-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 400;
  padding: 10px;
  margin: 10px;
}

.booking-detail {
  font-weight: 300;
  color: rgb(237, 201, 119);
  margin-left: 10px;
}

.room-image {
  height: 95%;
  margin-right: 20px;
}

.history-button {
  height: 50%;
  width: 50%;
  margin-right: 10px;
  font-size: 14px;
  border: 1px solid white;
  border-radius: 5px;
  transition-duration: 400ms;
}

.history-button:hover {
  cursor: pointer;
  transform: scale(1.05);
  border: 1px solid rgb(237, 201, 119);
}

.amount-spent-section {
  display: flex;
  justify-content: flex-end;
  font-size: 40px;
}

.tell-amount {
  margin-right: 20px
}

#total-amount {
  color: rgb(237, 201, 119);
}

.search-section-header {
  display: flex;
  width: 100%;
  flex-direction: column;
  height: 100px;
  justify-content: center;
  align-items: center;
}

.search-inputs {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.search-inputs div {
  display: flex;
  width: 50%;
  justify-content: center;
}

.search-inputs div button,
.search-inputs div input {
  margin-left: 10px;
  border: 1px solid transparent;
}

.search-inputs div button:hover,
.search-inputs div input:hover {
  margin-left: 10px;
  border:rgb(237, 201, 119) 1px solid;
}

.room-tile {
  display: flex;
  height: 150px;
  width: 80%;
  margin: 10px 20px;
  border:rgb(237, 201, 119) 1px solid;
  border-radius: 15px;
  align-items: center;
  justify-content: space-between;
}

.room-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 400;
  padding: 10px;
  margin: 10px;
}

.hidden {
  display: none;
}